<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Information</title>
</head>
<body>
Customer Information
<table border = "1">
<tr>
  <td>CIF Number</td><td>1</td><td width="20"></td><td>Education</td><td>Master degree</td>
</tr>
<tr>
  <td>Customer Date</td><td>10/02/2019</td><td width="20"></td><td>Occupation</td><td>Programmer</td>
</tr>
<tr>
  <td>Name Thai</td><td>นายมานะ</td><td width="20"></td><td>Business type</td><td>Company</td>
</tr>
<tr>
  <td>Name English</td><td>Mana</td><td width="20"></td><td>Email</td><td>mas123@mail.com</td>
</tr>
<tr>
  <td>Customer type</td><td>Individual</td><td width="20"></td><td>Home phone</td><td>02-22202222</td>
</tr>
<tr>
  <td>Citizen ID</td><td>3909988080</td><td width="20"></td><td>Mobile number</td><td>098-8889998</td>
</tr>
<tr>
  <td>Address</td><td>22/22</td><td width="20"></td><td>Customer Consent</td><td>yes</td>
</tr>
<tr>
  <td>Nationality</td><td>Thai</td><td width="20"></td><td>Consent Date</td><td>12/02/2019</td>
</tr>
<tr>
  <td>Date of Birth</td><td>10/20/2000</td><td width="20"></td><td>Customer Status</td><td>Active</td>
</tr>
<tr>
  <td>Gender</td><td>Male</td><td width="20"></td><td>Martial status</td><td>Single</td>
</tr>
<tr>
  <td colspan="5" align="right"><input type="button" value="close"></td>
</tr>
</table>


</body>
</html>